title= @meta[:title]

/ google
meta content=@meta[:desc] name="description"
meta content=@meta[:keywords] name="keywords"
meta content=@meta[:author] name="author"
meta content=@meta[:copyright] name="copyright"
meta content=@meta[:application_name] name="application-name"
meta content=@meta[:pragma] name="no-cache"


/ facebook
meta content=@meta[:f_url] property="og:url"
meta content=@meta[:f_image] property="og:image"
meta content=@meta[:f_desc] property="og:description"
meta content=@meta[:f_title] property="og:title"